* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #1F2937;
  padding: 25px 150px;
}

.footer {
  background-color: #1F2937;
  justify-content: center;
  display: flex;
}

.quote {
  background-color: #E5E7EB;
  padding: 100px 200px;
}

.fixed-header {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.fixed-header .navbar {
  align-self: center;
}

.fixed-header .navbar .menu-item {
  display: inline-flex;
  font-size: 18px;
  color: #E5E7EB;
  font-weight: 100;
  padding-right: 25px;
  font-family: 'Roboto', sans-serif;
}

.fixed-header a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.fixed-header a img {
  max-height: 50px;
  margin-right: 15px;
}

.fixed-header a p {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .actions h1 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}
 .hero .actions p {
   font-size: 18px;
   color: #E5E7EB;
   font-weight: 400;
 }

.hero .actions button {
  background-color: #3882F6;
  color: #E5E7EB;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: bolder;
  padding: 10px 50px;
  margin-top: 10px;
  border-radius: 10px;
  border-color: #3882F6;
}

.hero .hero-img {
  margin-left: 50px;
}

.hero .hero-img img {
  max-height: 250px;
}

.footer .copy {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  color: #E5E7EB;
  height: 100px;
}

.footer .copy p {
  align-self: center;
}

.quote p {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1F2937;
}

.quote .autor {
  font-size: 24px;
  font-weight: bolder;
  font-style: normal;
  text-align: right;
}

.cta {
  background-color: #3882F6;
  margin: 100px;
  padding: 50px 100px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.cta .call-to-action h3 {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.cta .call-to-action p {
  font-size: 18px;
  color: #F9FAF8;
}

.cta .cta-button {
  display: flex;
  justify-content: space-between;
}

.cta .cta-button button {
  background-color: #3882F6;
  border-color: #F9FAF8;
  border-radius: 7px;
  border-style: solid;
  color: #F9FAF8;
  padding: 5px 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  align-self: center;
}

.random-info .info-title {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.random-info .info-title h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.random-info .info-imgs {
  display: inline-flex;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
}

.random-info .info-art {
  justify-content: center;
  margin-right: 25px;
}

.random-info .info-art .feat-img {
  border-radius: 10px;
  max-height: 150px;
  max-width: 150px;
  border-style: solid;
  border-color: #3882F6;
  margin-left, margin-right: 25px;
}

.random-info .info-art .feat-img img {
  width: 145px;
  height: 145px;
  object-fit: cover;
  border-radius: 7px;
}

.random-info .info-art .feat-content {
  max-width: 150px;
  text-align: center;
  margin-top: 12px;
}
